:root{
	/*PALETA 93272 - Color Hunt*/
	--rosa:#f60c86;
	--blanco:#f9f6d8;
	--azulClaro:#a5bfdd;
	--azul:#2e89ba;
}

@media only screen and (max-width: 800px){
	.imgHeader .headerInfo h2{
		font-size:50px;
	}
	.imgHeader .headerInfo hr{
		width: 400px;
	}
	.imgHeader .headerInfo p{
		font-size:20px;
	}
	.menuNav .btnMenu{
		display: block;
		position: absolute;
		top:10px;
		right:50px;
		font-size: 30px;
		cursor:pointer;
		color:var(--rosa);
	}
	.menuNav .contenedorMenu{
		position:absolute;
		top:60px;
		left:-100%;
		width: 100%;
		height: calc(50vh - 65px);
		background: var(--azulClaro);
	}
	.menuNav .contenedorMenu .lista{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.menuNav .contenedorMenu .lista li{
		margin:15px 0;
	}
	.menuNav .contenedorMenu .lista li a{
		font-size: 25px;
	}

	.ilustraciones .tituloIlustraciones h2{
		font-size: 50px;
	}
	.ilustraciones .tituloIlustraciones{
		padding: 10px;
	}
	.ilustraciones .galeriaContenedor{
		grid-template-columns: 1fr;
	}
	.imgHeader .headerInfo .btnDown{
		font-size: 15px;
		padding: 20px;
	}
}

@media only screen and (max-width: 590px){
	.ilustraciones .tituloSecciones{
		width: 85%;
		text-align: center;
		font-size: 15px;
		font-weight: lighter;
	}
	/*.ilustraciones .contenedorIlustraciones{
		width: 100%;
	}*/
	.galeriaModal #imgModal{
		width: 80%;
		height: 550px;
		margin-top: 30px;
	}
	.ilustraciones .tituloIlustraciones h1{
		font-size: 40px;
	}
	.menuNav .logo{
		margin-left:20px;
	}
	.menuNav .btnMenu{
		right: 20px;
	}
	.imgHeader .headerInfo h2{
		font-size:40px;
	}
	.imgHeader .headerInfo hr{
		width: 280px;
	}
	.imgHeader .headerInfo p{
		font-size: 25px;
	}
	.galeriaModal .listaGaleria{
		display: none;
	}
	.galeriaModal{
		padding:90px 0;
	}
	.ilustraciones .contenedorIlustraciones .imgCard:hover img{
	transform:none;
	}
	.about .aboutImg p{
		font-size: 20px;
	}
	.about .aboutImg .aboutTitulo h2{
		font-size: 35px;
	}
	.imgHeader .headerInfo .btnDown{
		font-size: 15px;
		padding: 20px;
	}
	.contacto .contactoContenedor .contactoTitulo h2{
		font-size: 40px;
	}
	.contacto .contactoContenedor .formularioContenedor{
		width: 100%;
	}
}

@media only screen and (max-width: 360px){
	.galeriaModal #imgModal{
		width: 90%;
	}
}

